/* Complete the CSS styling according to the provided design */

body {
    font-family: 'Verdana', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("img/bg-casino.jpg");
    background-size: contain;
    padding: auto;
    text-align: center;
    color: white;
    font-weight: bold;
    height: 100vh; 
    margin: 1em; 
}

h1 {
    color: goldenrod;
    font-size: 3em;
}

#message-el {
    font-style: italic;
    font-size: 1.5em;
}

.btn {
    color: #016f32;
    width: 150px;
    font-weight: bolder;
    background-color: goldenrod;
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    margin: 2px;
}